
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: var(--white);



    .h-main {
        text-align: center;
        font-size: 3rem;
    }
}
